body {
    background-color: rgb(159, 223, 244);
    letter-spacing: 3px;
}

#spliter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INPUT BOXES AND BUTTONS */
#bill-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid hsl(172, 91%, 18%);
    background-color: hsl(185, 41%, 84%);
    outline: none;
}

#people-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid hsl(172, 91%, 18%);
    background-color: hsl(185, 41%, 84%);
    outline: none;
}

#enter-bill-button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: hsl(172, 91%, 18%);
    color: white;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 2px;
}

#enter-people-button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: hsl(172, 91%, 18%);
    color: white;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 2px;
}

/* TIP BUTTONS */
.tip-buttons {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: hsl(172, 91%, 18%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 1000ms;
}

.tip-buttons:hover {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid hsl(172, 91%, 18%);
    background-color: white;
    color: hsl(172, 91%, 18%);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 1000ms;
}

.reset-button {
    padding: 10px 80px;
    border-radius: 10px;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: hsl(173, 24%, 62%) ;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
    color: hsl(172, 91%, 18%) ;
    margin-bottom: 10px;
    transition: all 1000ms;
}

.reset-button:hover {
    padding: 10px 80px;
    border-radius: 10px;
    position: relative;
    outline: none;
    border: 1px solid (172, 91%, 18%) ;
    cursor: pointer;
    background-color: hsl(172, 91%, 18%) ;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

#tip-amount, #grand-payment-amount {
    font-size: 27px;
}

/* MEDIA QUERIES FOR JUST SIZES */

@media screen and (max-width: 500px) {
    h4 {
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .tip-buttons {
        padding: 10px;
        margin: 3px;
        border-radius: 5px;
        border: none;
        background-color: hsl(172, 91%, 18%);
        color: white;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        transition: all 1000ms;
    }
}

@media screen and (max-width: 300px) {
    #bill-input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid hsl(172, 91%, 18%);
        background-color: hsl(185, 41%, 84%);
        outline: none;
    }
    
    #people-input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid hsl(172, 91%, 18%);
        background-color: hsl(185, 41%, 84%);
        outline: none;
    } 
}

